<div class="container mx-auto xl:w-1/2 lg:w-1/2 w-full rounded-lg shadow-lg  grid  sm:grid-cols-1 mt-20 p-5 "> 
    <div class="mt-10">
        <img src="/img/logo.png" alt="" class="h-80 mx-auto">
    </div>
    <div class=" p-2 space-y-8 mt-10">
        <h2 class="font-sans font-bold text-3xl">Pokeplay Store</h2>
        <p class="font-sans">Somos una tienda especializada en la venta de videojuegos de Pokemon. Nos apasiona el mundo de Pokemon y queremos compartir nuestra pasión con todos nuestros clientes.

En Pokeplay Store, ofrecemos una amplia variedad de productos, desde los últimos lanzamientos hasta los clásicos de la franquicia. Ya sea que estés buscando el último juego de Pokemon para tu consola o quieras revivir
los clásicos ¡tenemos todo lo que necesitas!

Nuestro equipo está formado por apasionados jugadores de Pokemon que están siempre actualizados sobre los últimos lanzamientos y tendencias de la franquicia. Nos aseguramos de tener en stock los juegos y productos más populares, así como los raros y difíciles de encontrar.

Además, en Pokeplay Store, nos enorgullece ofrecer un excelente servicio al cliente. Si tienes alguna pregunta o problema, nuestro equipo estará encantado de ayudarte en todo lo que necesites. Queremos asegurarnos de que tu experiencia de compra sea lo más fácil y agradable posible.

Gracias por elegir Pokeplay Store como tu tienda de videojuegos de Pokemon de confianza. ¡Esperamos verte pronto!.</p>
    </div>
</div>